'.source.ruby.processing':
  Bare:
    prefix: "bare"
    body: '''
      def settings
        size ${1: number}, ${2: number}
        # pixel_density(2) # for HiDpi screens
        # smooth # see https://processing.org/reference/smooth_.html
      end

      def setup
        sketch_title '${3: string}'
      end

      def draw
         ${4: string}
      end
    '''
