'.source.ruby.processing':
  Background:
    prefix: "bkg"
    body: 'background ${1:int}',

  web_colors_to_colors:
    prefix: "web"
    body: 'web_to_color_array(${1:string})',

  Bare:
    prefix: "bare"
    body: '''
      def settings
        size ${1:int}, ${2:int}
        # pixel_density(2) # for HiDpi screens
        # smooth # see https://processing.org/reference/smooth_.html
      end

      def setup
        sketch_title '${3:string}'
      end

      def draw
         ${4:string}
      end
    ''',

  Propane_Sketch:
    prefix: "prsk"
    body: '''
      require 'propane'

      class ${1:string} < Propane::App
        def settings
          size ${2:int}, ${3:int}
          # pixel_density(2) # for HiDpi screens
          # smooth # see https://processing.org/reference/smooth_.html
        end

        def setup
          sketch_title '${4:string}'
        end

        def draw
           ${5:string}
        end
      end

      ${1:string}.new
    ''',

  Degree_Cosine:
    prefix: "dgcos"
    body: "DegLut.cos(${1:any})",

  Degree_Sine:
    prefix: "dgsin"
    body: "DegLut.sin(${1:any})",

  Include_Package:
    prefix: "incp"
    body: "include_package '${1:string}'",

  Load_Library:
    prefix: "lol"
    body: "load_library :${1:string}",

  Load_Libraries:
    prefix: "lols"
    body: "load_libraries :${1:string}, :${2:string}",

  Load_Image:
    prefix: "loi"
    body: "load_image(data_path('${1:string}'))",

  Request_Image:
    prefix: "rqi"
    body: "request_image(data_path('${1:string}'))",

  Load_Font:
    prefix: "lof"
    body: "load_font(data_path('${1:string}'))",

  Load_Shader:
    prefix: "los"
    body: "load_shader(data_path('${1:string}.glsl'))",

  PushMatrix:
    prefix: "pma"
    body: '''
      push_matrix
      # write stuff here
      pop_matrix
    ''',

  Map1D:
    prefix: "m1d"
    body: 'map1d(${1:string}, ${2:number}..${3:number}, ${4:number}..${5:number})'
